    <!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page</title>
    <link href="style.css" rel="stylesheet">

  </head>
</head>
<body>

    <nav>
        <h4>USER PROFILE</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>My Login Project</h1>
            <p>This project demonstrates how to implement login and register functionalities with Node.js and MySQL </p>
	    {{#if message }}                                    <h4 class="alert alert-danger mt-4">{{message}}</h4>                        {{/if}}
        </div>

    </div>

</body>
</html>
